.nav-left {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  & a {
    color: #111;
    transition: color .2s linear;
    &:hover {
      text-decoration: underline;
      color: #888;
    }
  }
}

.navbar-brand {
  text-decoration: none;
  color: inherit;

  & h1 {
    margin-bottom: 0;
  }
}
